.header-container {
  position: sticky;
  top: 0;
  background: #fff;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 100;

  .header {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 3rem;
    transition: padding $transition-slow;

    &__logo {
      img {
        width: 9.4rem;
      }
    }
    &--scrolled {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    &__menus {
      display: flex;
      gap: 6rem;
      align-items: center;

      .header__menu {
        display: flex;
        align-items: center;
        gap: 4rem;
        .menu-item {
          list-style: none;

          a {
            font-size: 1.6rem;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0.5rem 1rem;
            transition: color $transition-regular;
            &:hover,
            &:focus {
              color: $clr-secondary;
            }
          }
        }
      }

      .header__phone {
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        transition: color $transition-regular;

        &-image {
          margin-right: 1.7rem;
        }
        &:hover,
        &:focus-visible {
          color: $clr-secondary;
        }
      }

      .header__lang-menu {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &-element {
          font-size: 1.6rem;
          font-weight: 500;
          text-transform: uppercase;
          height: 100%;
          transition: color $transition-regular;
          &--current {
            font-weight: 700;
          }
          &:not(p) {
            &:hover {
              color: $clr-secondary;
            }
          }
        }
        &-separator {
          width: 1px;
          height: 2em;
          background: #000;
        }
      }

      .header__burger {
        display: flex;
        align-items: center;
        position: relative;
        height: 43px;
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        &-bar {
          position: relative;
          width: 42px;
          height: 3px;
          background: #000;
          pointer-events: none;

          &--middle {
            transition: $transition-bg, transform $transition-fast;
          }

          &--top,
          &--bottom {
            position: absolute;
          }
          &--top {
            top: 10px;
            transition: $transition-bg, top $transition-fast $transition-fast,
              transform $transition-fast;
          }
          &--bottom {
            bottom: 10px;
            right: 0;
            transition: $transition-bg,
              bottom $transition-regular $transition-slow,
              width $transition-regular $transition-regular;
          }
        }

        &:hover,
        &:focus-visible {
          .header__burger-bar {
            background: $clr-secondary;
          }
        }

        &-menu-container {
          position: absolute;
          top: 100%;
          right: 0;
          overflow: hidden;
          pointer-events: none;

          .header__burger-menu {
            background-color: #fff;
            width: clamp(20rem, calc(100vw - 40px), 50rem);
            transform: translateY(-102%);
            transition: transform $transition-regular;
            pointer-events: all;

            .menu-item {
              position: relative;
              list-style: none;
              text-align: right;

              a {
                display: block;
                position: relative;
                font-size: 1.6rem;
                font-weight: 700;;
                text-transform: uppercase;
                padding: 1rem 2rem;
                transition: all $transition-regular;
                &:hover,
                &:focus {
                  background-color: $clr-secondary;
                  color: #fff;
                }
              }
              .sub-menu {
                display: none;
              }

              &.menu-item-has-children {
               a {
                  padding-right: 4rem;
                }
                .menu-item__arrow {
                  position: absolute;
                  top: 50%;
                  right: 0.5rem;
                  width: 3rem;
                  height: 80%;
                  border: 2px solid #000;
                  border-radius: 4px;
                  transform: translateY(-50%); 
                  transition: border $transition-regular;

                  &::before {
                    @include pseudo;
                    top: 50%;
                    left: 50%;
                    width: 1.5rem;
                    aspect-ratio: 1;
                    border-bottom: 2px solid;
                    border-right: 2px solid;
                    border-color: inherit;
                    transform: translate(-50%, -80%) rotate(45deg);
                    // transition: border $transition-regular;
                    pointer-events: none;
                  }
                  &:hover {
                    border-color: #fff;
                  }
                }
              }

            }
          }
        }

        &--active {
          .header__burger-bar {
            background: $clr-secondary;

            &--middle {
              transform: rotate(-45deg);
              transition: $transition-bg,
                transform $transition-regular $transition-fast
                  cubic-bezier(0.32, 0.63, 0, 1.91);
            }

            &--top {
              top: 20px;
              transform: rotate(45deg);
              transition: $transition-bg, top $transition-fast,
                transform $transition-regular $transition-fast
                  cubic-bezier(0.32, 0.63, 0, 1.91);
            }
            &--bottom {
              bottom: 0;
              width: clamp(20rem, calc(100vw - 40px), 50rem);
              transition: $transition-bg, bottom $transition-regular,
                width $transition-regular $transition-regular;
            }
          }
          .header__burger-menu-container {
            .header__burger-menu {
              transform: translateY(0);
              transition: transform $transition-regular $transition-slow;
            }
          }
        }
      }
    }
    @media (max-width: 992px) {
      &__menus {
        .header__menu {
          display: none;
        }
      }
    }
    @media (max-width: 576px) {
      &__menus {
        gap: 3rem;
        .header__phone {
          display: none;
        }
      }
    }
  }
}
